section#dashboard {
    @apply grid gap-3 bg-white overflow-auto;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

    div.nested-card,
    div.card {
        @apply rounded-xl p-3;
    }

    div.card:nth-child(-n + 4) {
        @apply flex flex-col gap-2 px-6 relative;

        div.icon {
            @apply absolute top-3 right-3 py-1 px-2 rounded-md;
            i {
                @apply text-3xl;
            }
        }
        div.title {
            @apply font-semibold text-gray-600;
        }
        div.content {
            @apply flex flex-col gap-4;
            label {
                @apply text-3xl font-bold;
            }
            div {
                @apply bg-white rounded-full flex gap-2 items-center py-1 px-3 w-fit font-semibold text-sm;
                i {
                    @apply text-xs;
                }
            }
        }
    }

    div.card:nth-last-child(-n + 1) {
        @apply row-span-3;
    }

    div.card:nth-last-child(1) {
        @apply col-span-4  grid gap-3 p-0 shadow-none;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

        div.nested-card {
            @apply border border-gray-200 px-6;
            div.title {
                @apply font-semibold py-3 text-xl;
            }
            div.content {
                @apply flex-1;
            }
        }
        div.nested-card:nth-child(1) {
            @apply col-span-2;
        }
    }
}
